gmail-ai-auto-reply.json
{
  "name": "Gmail Data Store",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email Subject:\n{{ $json.Subject }}\n\nSender:\n{{ $json.From }}\n\nEmail Body:\n{{ $json.snippet }}\n\nAnalyze the email and generate the response in the specified JSON format.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent email summarization assistant.\n\nYour task is to analyze email content and generate a concise, professional summary.\n\nInstructions:\n\n1. Identify the main purpose of the email.\n2. Extract important details, requests, deadlines, dates, and action items.\n3. Ignore signatures, disclaimers, and unnecessary formatting.\n4. Keep the summary under 100 words.\n5. Determine the email category:\n\n   * Work\n   * Personal\n   * Promotion\n   * Support\n   * Finance\n   * Recruitment\n   * Newsletter\n   * Other\n6. Determine the priority:\n\n   * High\n   * Medium\n   * Low\n7. Return the output in valid JSON only.\n\nOutput Format:\n{\n\"summary\": \"\",\n\"category\": \"\",\n\"priority\": \"\",\n\"action_required\": true,\n\"action_items\": []\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -96
      ],
      "id": "b6538ca0-8347-4745-8de5-dda7fc3e5b53",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"summary\": \"\",\n\"category\": \"\",\n\"priority\": \"\",\n\"action_required\": true,\n\"action_items\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        104,
        128
      ],
      "id": "c2fef747-7d99-4f62-b4f6-12106a9e375a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -24,
        128
      ],
      "id": "ddc62dca-bab2-48fa-bcc2-2c2c6bea9077",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "mO7xqxCA2M8kbYP4",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger1').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "cc0e9a7d-7fe3-4c75-95b8-74612bf718e5",
      "name": "Reply to a message",
      "webhookId": "0ce02b66-3b97-4423-bbc1-d7ce41ff6f95",
      "credentials": {
        "gmailOAuth2": {
          "id": "RMJitH1jvoq8IpGM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original Subject:\n{{ $('Gmail Trigger1').item.json.Subject }}\n\nSender:\n{{ $('Gmail Trigger1').item.json.From }}\n\nEmail Summary:\n{{ $json.output.summary }}\n\nCategory:\n{{ $json.output.category }}\n\nPriority:\n{{ $json.output.priority }}\n\nAction Required:\n{{ $json.output.action_required }}\n\nAction Items:\n{{ $json.output.action_items }}\nGenerate a professional email response.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpYou are a professional email assistant.\n\nYour task is to generate a clear, polite, and professional email reply based on the provided email summary.\n\nRules:\n\n1. Maintain a professional and respectful tone.\n2. Acknowledge the sender's message.\n3. Address all important points mentioned in the summary.\n4. If action is required, clearly mention the next steps.\n5. Keep the response concise and business appropriate.\n6. Do not invent facts that are not present in the summary.\n7. Generate only the email body.\n8. Do not include placeholders unless information is missing.\n9. End with a professional closing.\n\nThe output should be ready to send as an email.\nful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -96
      ],
      "id": "bfbfdba0-9b66-465e-a6f7-d2088e8cfffd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        328,
        128
      ],
      "id": "d7ab7b7c-20cb-47f2-9b90-7a153ba966e3",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "mO7xqxCA2M8kbYP4",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"category\": \"\",\n  \"priority\": \"\",\n  \"action_required\": true,\n  \"action_items\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        456,
        128
      ],
      "id": "14d056d0-5135-425a-bfb5-05e697e5023a",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GQbInlECmix0y4qFIs8T1WdMLNZ3OA0mX8h0oV-vezk",
          "mode": "list",
          "cachedResultName": "Gmail Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GQbInlECmix0y4qFIs8T1WdMLNZ3OA0mX8h0oV-vezk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1200691869,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GQbInlECmix0y4qFIs8T1WdMLNZ3OA0mX8h0oV-vezk/edit#gid=1200691869"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Name": "={{ $('Gmail Trigger1').item.json.From.split('<')[0].trim() }}",
            "Sender Mail": "={{ $('Gmail Trigger1').item.json.From }}",
            "Message Recieved": "={{ $('Gmail Trigger1').item.json.snippet }}",
            "Message Replied": "={{ $('AI Agent1').item.json.output.summary }}",
            "Subject": "={{ $('Gmail Trigger1').item.json.Subject }}",
            "Category": "={{ $('AI Agent1').item.json.output.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Mail",
              "displayName": "Sender Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message Recieved",
              "displayName": "Message Recieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Replied",
              "displayName": "Message Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -96
      ],
      "id": "55af66c3-4b7a-4861-a59a-d7f263baa139",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oEJXqtGuKJUGe9kz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -96
      ],
      "id": "d5df08d3-8297-45e9-a461-5eaf7975fdf2",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "RMJitH1jvoq8IpGM",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6709c10f-c21e-4070-bdff-ae5588ff55a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a866c4e930c78360d2e170ee6fe77d5d599a2f6ec53d210be698e574f5a1ce5b"
  },
  "id": "3MfKnkc1PqVGV0NO",
  "tags": []
}