gmail-ai-auto-reply.json
{
  "name": "Gmail Data Store",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"string\",\n  \"category\": \"string\",\n  \"priority\": \"string\",\n  \"action_required\": true,\n  \"reply_needed\": true,\n  \"action_items\": [\n    \"string\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        112,
        128
      ],
      "id": "c2fef747-7d99-4f62-b4f6-12106a9e375a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply_body\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        128
      ],
      "id": "14d056d0-5135-425a-bfb5-05e697e5023a",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email Subject:\n{{ $json.Subject }}\n\nSender:\n{{ $json.From }}\n\nEmail Body:\n{{ $json.snippet }}\n\nAnalyze the email and return valid JSON only using the specified format.\n\nDo not include markdown.\nDo not include explanations.\nDo not include additional text outside the JSON response.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an Advanced AI Email Analysis Assistant.\n\nYour task is to analyze incoming emails and return structured JSON containing a summary, category, priority, action requirements, reply requirements, and action items.\n\nInstructions:\n\n1. Read and understand the email subject, sender, and body.\n\n2. Generate a concise summary (maximum 100 words).\n\n3. Identify the primary category from:\n\n   * Recruitment\n   * Work\n   * Support\n   * Finance\n   * Personal\n   * Promotion\n   * Newsletter\n   * System Notification\n   * Other\n\n4. Determine priority:\n\n   * High\n   * Medium\n   * Low\n\n5. Determine whether action is required:\n\n   * true\n   * false\n\n6. Determine whether a reply is needed:\n\n   * true\n   * false\n\n7. Extract clear action items as a list.\n\n8. Ignore:\n\n   * Email signatures\n   * Legal disclaimers\n   * Tracking information\n   * HTML formatting\n\n9. For the following types of emails, set reply_needed to false:\n\n   * Mail delivery failures\n   * Mailer-daemon messages\n   * Postmaster notifications\n   * OTP emails\n   * Newsletters\n   * Promotional emails\n   * Automated notifications\n   * No-reply sender emails\n\n10. Priority Rules:\n\n    * High: urgent requests, deadlines, interviews, customer issues, finance-related actions.\n    * Medium: normal business communication.\n    * Low: newsletters, promotions, informational messages.\n\n11. Never invent information not present in the email.\n\n12. Return valid JSON only.\n\nOutput Format:\n\n{\n\"summary\": \"string\",\n\"category\": \"string\",\n\"priority\": \"High | Medium | Low\",\n\"action_required\": true,\n\"reply_needed\": true,\n\"action_items\": [\"string\"]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -96
      ],
      "id": "b6538ca0-8347-4745-8de5-dda7fc3e5b53",
      "name": "Categorize Mail"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output.reply_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "cc0e9a7d-7fe3-4c75-95b8-74612bf718e5",
      "name": "Sending Back Message",
      "webhookId": "0ce02b66-3b97-4423-bbc1-d7ce41ff6f95",
      "credentials": {
        "gmailOAuth2": {
          "id": "RMJitH1jvoq8IpGM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GQbInlECmix0y4qFIs8T1WdMLNZ3OA0mX8h0oV-vezk",
          "mode": "list",
          "cachedResultName": "Gmail Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GQbInlECmix0y4qFIs8T1WdMLNZ3OA0mX8h0oV-vezk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1200691869,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GQbInlECmix0y4qFIs8T1WdMLNZ3OA0mX8h0oV-vezk/edit#gid=1200691869"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Name": "={{ $('Get many messages').item.json.From.split('<')[0].trim() }} ",
            "Sender Mail": "={{ $('Get many messages').item.json.To }}",
            "Message Recieved": "={{ $('Get many messages').item.json.snippet }}",
            "Message Replied": "={{ $('Generating Meaningfull Reply').item.json.output.reply_body }}",
            "Subject": "={{ $('Get many messages').item.json.Subject }}",
            "Category": "={{ $('Categorize Mail').item.json.output.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Mail",
              "displayName": "Sender Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message Recieved",
              "displayName": "Message Recieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Replied",
              "displayName": "Message Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -96
      ],
      "id": "55af66c3-4b7a-4861-a59a-d7f263baa139",
      "name": "Appending New Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oEJXqtGuKJUGe9kz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        -96
      ],
      "id": "0f9719b4-42f9-4c70-920c-4719dbbe76fe",
      "name": "Get many messages",
      "webhookId": "49210bf6-1ca0-46bc-84dc-d3ff7c12031d",
      "credentials": {
        "gmailOAuth2": {
          "id": "RMJitH1jvoq8IpGM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original Subject:\n{{ $('Get many messages').item.json.Subject }}\n\nSender:\n{{ $('Get many messages').item.json.From }}\n\nEmail Summary:\n{{ $json.output.summary }}\n\nCategory:\n{{ $json.output.category }}\n\nPriority:\n{{ $json.output.priority }}\n\nAction Required:\n{{ $json.output.action_required }}\n\nReply Needed:\n{{ $json.output.reply_needed }}\n\nAction Items:\n{{ JSON.stringify($json.output.action_items) }}\n\nGenerate a professional email response based on the information above.\n\nRequirements:\n\n* Acknowledge the sender.\n* Address all relevant points.\n* Include next steps if action is required.\n* Match the category and priority.\n* Be ready to send immediately.\n* Return valid JSON only.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Advanced AI Email Response Assistant.\n\nYour task is to generate professional, context-aware, and business-appropriate email replies based on the structured email analysis provided.\n\nInstructions:\n\n1. Analyze the email summary, category, priority, and action items.\n\n2. Generate a professional and meaningful response for every email received.\n\n3. Acknowledge the sender naturally and appropriately.\n\n4. Address all key points from the summary.\n\n5. If action is required, clearly communicate the next steps.\n\n6. Match the response tone to the category:\n\n   * Recruitment → Professional and enthusiastic.\n   * Support → Helpful and solution-oriented.\n   * Finance → Formal and precise.\n   * Work → Collaborative and professional.\n   * Personal → Friendly and respectful.\n   * Promotion → Courteous acknowledgment.\n   * Newsletter → Professional appreciation.\n   * System Notification → Brief acknowledgment.\n\n7. Never invent information that is not present in the email analysis.\n\n8. Never reveal internal reasoning, chain-of-thought, or analysis.\n\n9. Never mention that you are an AI assistant.\n\n10. Keep responses concise and relevant.\n\n11. Avoid repetitive phrases.\n\n12. Generate only the email body content.\n\n13. Always include the following signature:\n\nBest regards,\n\nDeepak Takshak\nAI Engineer\nJosh Technology Group\n\n14. If insufficient information is available, generate a polite acknowledgment and indicate that the message has been received.\n\n15. Return valid JSON only.\n\nOutput Format:\n\n{\n\"reply_body\": \"string\"\n}\n\nDo not include markdown.\nDo not include code blocks.\nDo not include explanations.\nDo not include any fields other than reply_body.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -96
      ],
      "id": "bfbfdba0-9b66-465e-a6f7-d2088e8cfffd",
      "name": "Generating Meaningfull Reply"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        320,
        112
      ],
      "id": "adf4799d-b65f-4841-8736-28c9a20f7f6e",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "7K7QWrIfycgT1qxy",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -32,
        128
      ],
      "id": "f8c91511-ac4b-499e-b1c7-37f01d771318",
      "name": "Cohere Chat Model1",
      "credentials": {
        "cohereApi": {
          "id": "7K7QWrIfycgT1qxy",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Categorize Mail",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Generating Meaningfull Reply",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Mail": {
      "main": [
        [
          {
            "node": "Generating Meaningfull Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Back Message": {
      "main": [
        [
          {
            "node": "Appending New Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Categorize Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generating Meaningfull Reply": {
      "main": [
        [
          {
            "node": "Sending Back Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generating Meaningfull Reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Categorize Mail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d20880ac-915c-4d29-acf6-679b2345476e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a866c4e930c78360d2e170ee6fe77d5d599a2f6ec53d210be698e574f5a1ce5b"
  },
  "id": "3MfKnkc1PqVGV0NO",
  "tags": []
}